<%- include("menu") -%>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="/css/astyle.css">
</head>

<body>
    <h1>About Us</h1>
<div class="parent">
    <div class="content">
        <h2>BookParadise is a place booklovers to share their works and share their opinions about different books.
            We believe that books make us intellectually richer and help us see the world through new perspective. 
            At BookParadise, you can share your works with the community or upload public domain books. 
            You can give your reviews and comments on the avaible books and download to read them.
        </h2>
        
    </div>
     <div class="image">
            <img src="/images/reading.jpg" class="img" alt="Image">
      </div>
</div>

</body>

</html>