<%- include("menu") -%>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Famous Authors</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-slate-700">
    <div class="container mx-auto p-4 mt-8">
        <h1 class="text-slate-200 text-4xl font-bold mb-8 text-center mt-4">Famous Authors</h1>
        
        <div class="space-y-7">
            <div class="bg-white rounded-lg shadow-md p-6 flex items-center space-x-5 max-w-3xl mx-auto">
                <div class="w-7/12">
                    <h2 class="text-3xl font-bold mb-2  text-gray-900">Sir Arthur Conan Doyle</h2>
                    <p class="text-lg text-justify text-gray-700">
                        Author Arthur Conan Doyle wrote 60 mystery stories featuring the wildly popular detective character Sherlock Holmes and his loyal assistant Watson. In 1890, Arthur Conan Doyle's novel, A Study in Scarlet introduced the character of Detective Sherlock Holmes. Doyle would go on to write 60 stories about Sherlock Holmes. He also strove to spread his Spiritualism faith through a series of books that were written from 1918 to 1926. Doyle died of a heart attack in Crowborough, England, on July 7, 1930.
                    </p>
                </div>
                <div class="w-1/2">
                    <!-- Add image here -->
                    <img src="/images/doyle.jpg" class="rounded-lg w-full" alt="Sir Arthur Conan Doyle">
                </div>
            </div>
            
            
            <div class="bg-white rounded-lg shadow-md p-6 flex items-center space-x-5 max-w-3xl mx-auto">
                <div class="w-7/12">
                    <h2 class="text-3xl font-bold mb-2  text-gray-900">Franz Kafka</h2>
                    <p class="text-lg text-justify text-gray-700">
                        Author Franz Kafka explored the human struggle for understanding and security in his novels such as 'Amerika,' 'The Trial,' and 'The Castle.' Author Franz Kafka grew up in an upper-middle-class Jewish family. After studying law at the University of Prague, he worked in insurance and wrote in the evenings. In 1923, he moved to Berlin to focus on writing but died of tuberculosis shortly after. His friend Max Brod published most of his work posthumously, such as Amerika and The Castle.
                    </p>
                </div>
                <div class="w-1/2">
                    <img src="/images/kafka.jpg" class="rounded-lg w-full" alt="Franz Kafka">
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md p-6 flex items-center space-x-5 max-w-3xl mx-auto">
                <div class="w-7/12">
                    <h2 class="text-3xl font-bold mb-2  text-gray-900">Mark Twain</h2>
                    <p class="text-lg text-justify text-gray-700">
                        Mark Twain, the writer, adventurer and wily social critic born Samuel Clemens, wrote the novels 'Adventures of Tom Sawyer' and 'Adventures of Huckleberry Finn.’ Mark Twain, whose real name was Samuel Clemens, was the celebrated author of several novels, including two major classics of American literature: The Adventures of Tom Sawyer and Adventures of Huckleberry Finn. He was also a riverboat pilot, journalist, lecturer, entrepreneur and inventor. 
                    </p>
                </div>
                <div class="w-1/2">
                    <img src="/images/twain.jpg" class="rounded-lg w-full" alt="Mark Twain">
                </div>
            </div>
        </div>
    </div>
</body>

</html>
