<%- include("menu") -%>
<html>
<head>
    <title>Famous Authors</title>
    <link rel="stylesheet" href="/css/austyle.css">
</head>

<body>
    <h1>Famous Authors</h1>
<div class="parent">
    <div class="content">
        <h2>Sir Arthur Conan Doyle</h2>
        <h3>Author Arthur Conan Doyle wrote 60 mystery stories featuring the wildly popular detective character Sherlock Holmes and his loyal assistant Watson.
            In 1890, Arthur Conan Doyle's novel, A Study in Scarlet introduced the character of Detective Sherlock Holmes. Doyle would go on to write 60 stories about Sherlock Holmes. 
            He also strove to spread his Spiritualism faith through a series of books that were written from 1918 to 1926. Doyle died of a heart attack in Crowborough, England on July 7, 1930.
        <h3>
        
    </div>
     <div class="image">
            <img src="/images/doyle.jpg" class="img" alt="Image">
      </div>
</div>
<hr>
<div class="parent">
    <div class="content">
        <h2>Franz Kafka</h2>
        <h3>Author Franz Kafka explored the human struggle for understanding and security in his novels such as 'Amerika,' 'The Trial' and 'The Castle.'
            Author Franz Kafka grew up in an upper middle-class Jewish family. After studying law at the University of Prague, he worked in insurance and wrote in the evenings. 
            In 1923, he moved to Berlin to focus on writing, but died of tuberculosis shortly after. 
            His friend Max Brod published most of his work posthumously, such as Amerika and The Castle.
        <h3>
        
    </div>
     <div class="image">
            <img src="/images/kafka.jpg" class="img" alt="Image">
      </div>
</div>
<hr>
<div class="parent">
    <div class="content">
        <h2>Mark Twain</h2>
        <h3>Mark Twain, the writer, adventurer and wily social critic born Samuel Clemens, wrote the novels 'Adventures of Tom Sawyer' and 'Adventures of Huckleberry Finn.’
            Mark Twain, whose real name was Samuel Clemens, was the celebrated author of several novels, including two major classics of American literature: The Adventures of Tom Sawyer and Adventures of Huckleberry Finn. 
            He was also a riverboat pilot, journalist, lecturer, entrepreneur and inventor. 
        <h3>
        
    </div>
     <div class="image">
            <img src="/images/twain.jpg" class="img" alt="Image">
      </div>
</div>

</body>

</html>