<%- include("menu") -%>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="bg-slate-700">
    <div class="bg-grey-lighter min-h-screen flex flex-col">
        <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
                
                <form class="bg-white px-6 py-8 rounded shadow-md text-black w-full" action="/reset" method="POST">
                    <h1  class="mb-8 text-3xl text-center"> Reset Password</h1>
                        <% if (message.length > 0) { %>
                        <h2><%= message %></h2>
                        <% } %>
                    <input 
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    type="email" 
                    name="username" 
                    placeholder="Email" required /> 
                    <input 
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    type="tel" 
                    name="phoneno" 
                    pattern="[0-9]{10}" 
                    placeholder="Phone Number" required />
                    <input 
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    type="password" 
                    name="password" 
                    placeholder="Password" required />
                    <input 
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    type="password" 
                    name="cpassword" 
                    placeholder="Confirm Password" required /> 
            
                    <button class="w-full text-center py-3 rounded bg-green-700 text-white hover:bg-green-dark focus:outline-none my-1" type="submit" name="submit">Reset</button>
                </form>
            
        </div>
    </div>
       
</body>
</html>