<%- include("menu") -%>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/fstyle.css">
</head>
<body>
   
        <div class="form1"> 
            <h1>Reset Password</h1>
            <% if (message.length > 0) { %>
            <h2><%= message %></h2>
            <% } %>
            <form action="/reset" method="POST">
                <label for="username">Username</label>
                <input type="email" name="username"  required> 
                <label for="phoneno">Phone Number</label>
                <input type="tel" name="phoneno" pattern="[0-9]{10}" required> 
                <label for="password">New Password</label>
                <input type="password" name="password" required> 
                <label for="cpassword">Confirm Password</label>
                <input type="password" name="cpassword" required> 
                <button class="button1" type="submit" name="submit">Reset</button>
                </form>
        </div>
    
</body>
</html>