
<%- include("menu") -%>
<html>
    <head>
        <title>BookParadise</title>
       <link rel="stylesheet" href="/css/hstyle.css">
       <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    </head>
    <body> 
         
        <p class="heading">BookParadise</p>
        <p class="subheading">Where Books Are Your Angels!</p>
       
    </body>
</html>