<%- include("menu") -%>
<html>
    <head>
        <title>Terms and Conditions</title>
        <link rel="stylesheet" href="/css/tcstyle.css">
    </head>
    <body>
        <div class="container1">
        <h1>Terms and Condition</h1>
         <p>All the material uploaded on the BookParadise is under public domain or the uploader owns the copyrights of the book.
             BookParadise will not be responsible for any legal damage caused. All 
         </p>
         <a href="/register"> <- Back To Register Page</a>
        </div>
    </body>
</html>