<%- include("menu") -%>
<html>
    <head>
        <title>Terms and Conditions</title>
        <link rel="stylesheet" href="/css/tcstyle.css">
    </head>
    <body>
        <div class="container1">
        <h1>Terms and Condition</h1>
         <p>Uploader agrees that the book uploaded is under public domain or the uploader has the copyrights of the uplaoded Book.
             Uploader will be solely responsible for any legal damage caused.  
                 
         </p>
         <a href="/book"> <- Back To Upload Page</a>
        </div>
    </body>
</html>