body {
    background-color: #f0cccc;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
  }
  h1{
      text-align: center;
      margin:10px;
      margin-top: 70px;
  }
  h2{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-weight: normal;
  }
  .parent{
      background-color: aliceblue;
      height: 70%;
      display: block; 
      border-radius: 25px;
      margin: 20px;
      
  }
  .content{
    float: left;
    width: 50%;
    margin-top: 10px;
    padding: 10px;
    padding-left: 40px;
  }
  img{
    width: 100%;
}
  .image{
    float: right;
    width: 40%;
    height: 40%;
    margin-top: 10px;
    padding: 20px;
    right: 0px;
  }
  