
body {
    background-color: #f0cccc;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
  }
  h1{
    text-align: center;
    margin-top: 10px;
}

.form1{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        width: 30%;
        height: 70%;
        padding: 20px;
        padding-top: 30px;
        padding-left: 40px;
        padding-bottom: 2px;
        background-color: rgba(143, 235, 241, 0.95);
        border-radius: 60px;
      
}

label{
    display: block;
    margin-top: 2px;
    width: 200px;
    padding: 2px;
    box-sizing: border-box;
    font-weight: bold;
}
.button1{
    display: inline-block;
    color:white;
    width: 60px;
    height: 30px;
    padding: 2px;
    margin-left: 55px;
    background-color: #1083c5;
    border-radius: 5px;
    } 
.button1:hover{
        background-color: #1a5374;
        
    }
    .button2{
        display: inline-block;
        color:white;
        width: 120px;
        height: 40px;
        padding: 2px;
        margin-left: 5px;
        background-color: #1083c5;
        border-radius: 5px;
        } 
    .button2:hover{
            background-color: #1a5374;
            
        }
    .button3{
        display: inline-block;
        color:white;
        width: 60px;
        height: 30px;
        padding: 2px;
        margin:10px;
        margin-left: 30px;
        background-color: #ca2020;
        border-radius: 5px;
    }
    .button3:hover{
        background-color: #6d1515;
    }
a{
    text-decoration: none;
    color: white;
}
   a:hover{
      color: rgb(180, 179, 179);
    }
    p{
        display: block;
        margin: 5px;
    }
    .a1{
        display: inline;
        text-decoration: none;
        color: black;
    }